참조 사이트 : https://wikidocs.net/7021

### 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [1]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목       | 값

시가총액| 298조

현재가    | 50,000원

PER        | 15.79

In [4]:
시가총액 = 298
print(시가총액, type(시가총액))

298 <class 'int'>

### 015 type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다
> a = "132"

In [8]:
a = "132"
print(type(a))

<class 'str'>

### 016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

In [15]:
num_str = "720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

### 018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [16]:
num_str = "15.79"
num_float = float(num_str)
print (num_float)

15.79

### 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [18]:
year = "2020"
yearNum = int(year)
print(yearNum - 3)
print(yearNum - 2)
print(yearNum - 1)

2017
2018
2019

### 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [19]:
monthly = 48584
term = 36
total = monthly * term

print (total, "원")

1749024 원