### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

In [1]:
a = "3"
b = "4"
print (a + b)

34

### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

In [2]:
print("Hi" * 3)

HiHiHi

### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

In [3]:
print ('-' * 80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.
<br> t1 = 'python'
<br> t2 = 'java'
<br> 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

In [8]:
t1 = 'python'
t2 = 'java'

print ((t1 + t2) * 5)

t3 = t1 + ' ' + t2 + ' '
print (t3 * 5)

pythonjavapythonjavapythonjavapythonjavapythonjava
python java python java python java python java python java

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

In [10]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

# print ("이름: " + name1 + " 나이: " + age1)

print ("이름: %s 나이: %d" % (name1, age1))
print ("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13