### 171

In [5]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

    # or
print("")
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

32100
32150
32000
32500

### 172

In [6]:
price_list = [32100, 32150, 32000, 32500]

for i in range(4) :
    print(i, price_list[i])

print("")

for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

0 32100
1 32150
2 32000
3 32500

### 173

In [10]:
price_list = [32100, 32150, 32000, 32500]

##for i, data in enumerate(price_list):
##    print(i[:-1], data)

for i in range(len(price_list)):
    print(3 - i, price_list[i])

for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500
3 32100
2 32150
1 32000
0 32500

### 174

In [14]:
price_list = [32100, 32150, 32000, 32500]

#for i in range(len(price_list)) :
#    print((10*i + 100), price_list[i+1])
# The result showed the same but I got index error from this coding.

for i in range(1, 4) :
    print(90 + 10* i, price_list[i])

100 32150
110 32000
120 32500

### 175

In [17]:
my_list = ["가", "나", "다", "라"]

for i in range(0,3) :
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

### 176

In [18]:
my_list = ["가", "나", "다", "라", "마"]

for i in range (0, 3) :
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마