In [2]:
# 221

def print_reverse(string) :
    print(string[::-1])

print_reverse("correct")

tcerroc

In [5]:
# 222

def print_score(score) :
    print(sum(score)/len(score))

print_score([1,2,3])

2.0

In [12]:
# 223

def print_even(num) :
    for v in num :
        if v % 2 == 0 :
            print(v)
        
print_even([1,2,3,4,5,6,7,8,9,10])

2
4
6
8
10

In [15]:
# 224

def print_keys (dic) :
    for keys in dic.keys() :
        print(keys)
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [22]:
# 225

my_ohlc = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_keys (my_ohlc, keys) :
    print(my_ohlc[keys])

print_value_by_keys(my_ohlc, "10/26")

[100, 130, 100, 100]

In [29]:
# 226

def print_split(string) :
    chopped = int(len(string) / 5)
    for x in range (chopped + 1) :
        print(string[x * 5 : x * 5 + 5])
        
print_split("abcdefghij")

abcde
fghij

In [32]:
# 227

def printmxn(string, num) :
    chopped = int(len(string) / num) 
    for x in range(chopped + 1) :
        print(string[x * num : x * num + num])
printmxn("abcdefghij", 3)

abc
def
ghi
j

In [ ]:
# 228

def calc_monthly_wage(annual_salary) :
    salary = int(annual_salary / 12)
    return monthly_wage

calc_monthly_wage()