### 071
my_variable 이름의 비어있는 튜플을 만들라.

In [2]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

### 072
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

순위	영화
<br>1	닥터 스트레인지
<br>2	스플릿
<br>3	럭키

In [3]:
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

### 073
숫자 1 이 저장된 튜플을 생성하라.

In [7]:
var = (1,)

print(type(var))

<class 'tuple'>

하나의 데이터가 튜플에 저장되는 경우 ,를 넣어줘야 됨.

### 075
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

In [8]:
t = 1, 2, 3, 4

print(type(t))

<class 'tuple'>

원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.