121

내 답안 

char = 'a'
if (char.isLower()) :
    print('a')
else :
    print('A')

In [1]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

123
123

122

In [5]:
score = input("")
score = int(score)
if 81 <= score <= 100 :
    print("A")
elif 61 <= score <=80 :
    print('B')
elif 41 <= score <=60 :
    print('C')
elif 21 <= score <= 40 :
    print('D')
elif 0<= score <=20 :
    print('E')
else : 
    print('range out of bound')

100
A

123

In [1]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력 : ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력 : 10 달러
11670.0 원

124

In [11]:
num1 = input("number 1 : ")
num2 = input("number 2 : ")
num3 = input("number 3 : ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 > num2 and num1 > num3 :
    print(num1)
elif num2 > num1 and num2 > num3 :
    print(num2)
else : 
    print(num3)

number 1 : 1024
number 2 : 39
number 3 : 3852359835
3852359835

125

In [18]:
cp = input("Contact No. : ")
num = cp.split("-")[0]
if num == "011" :
    com = "SKT"
elif num == "016" :
    com = "KT"
elif num == "019" :
    com = "LGU"
else : 
    com = "not registered"
print(f"You are {com} User.")

Contact No. : 012-1231-123123
You are not registered User.

126

In [1]:
zipCode = input('우편번호 : ')
zipCode = zipCode[:3]
if zipCode in ["010", '011', '012'] :
    print("강동구")
elif zipCode in ["013", "014", "015"] :
    print("도봉구")
else :
    print("노원구")

우편번호 : 014323
도봉구

127

In [2]:
id = input('주민번호 : ')
id = id.split("-")[1]
if id[0] == '1' or id[0] == '3' :
    print("Male")
else :
    print("Female")

주민번호 : 123123-1231231
Male

128

In [ ]:
id = input("주민번호 : ")
id = id.split("-")[1]
if (id[0] == '1' or id[0] == '3') and (0 <= int(뒷자리[1:3] <= 8)) :
    print("Male")