### 181

In [3]:
home = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]
print(home)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

### 182

In [4]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
print(stock)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

### 183

In [5]:
stock = {"시가": [100, 200, 300], "종가":[80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

### 184

In [7]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

### 185

In [11]:
home = [ [101, 102], [201, 202], [301, 302] ]

for row in home :
    print (row, "호")

print("")

for row in home :
    for col in row :
        print (col, "호")

[101, 102] 호
[201, 202] 호
[301, 302] 호

101 호
102 호
201 호
202 호
301 호
302 호

### 186

In [22]:
home = [ [101, 102], [201, 202], [301, 302] ]

for row in home[::-1]:
    print(row)
    
print("")

for row in home[::-1]:
    for col in row:
        print(col, "호")

[301, 302]
[201, 202]
[101, 102]

301 호
302 호
201 호
202 호
101 호
102 호

### 187

In [25]:
home = [ [101, 102], [201, 202], [301, 302] ]

for row in home[::-1]:
    print(row[::-1])
    
print("")

for row in home[::-1]:
    for col in row[::-1]:
        print(col, "호")

[302, 301]
[202, 201]
[102, 101]

302 호
301 호
202 호
201 호
102 호
101 호

### 188

In [28]:
home = [ [101, 102], [201, 202], [301, 302] ]

for row in home :
    for col in row :
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

### 189

In [30]:
home = [ [101, 102], [201, 202], [301, 302] ]

for row in home :
    for col in row :
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

### 190

In [31]:
home = [ [101, 102], [201, 202], [301, 302] ]

for row in home :
    for col in row :
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----